@model IMDB.Infrastructure.VM.MovieCategoryVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>
<hr />
<div id="alert" class="alert alert-success" style="visibility:hidden">Fotoğraf Yüklendi</div>
<div id="alert2" class="alert alert-success" style="visibility:hidden">Film Güncellendi</div>
<form asp-action="" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" value="@Model.Movie.Id" id="movieId" />
    <div class="form-group col-md-4">
        <label asp-for="Movie.Name" class="control-label"></label>
        <input asp-for="Movie.Name" class="form-control" id="name" />
        <span asp-validation-for="Movie.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-8">
        <label asp-for="Movie.Descreption" class="control-label"></label>
        <input asp-for="Movie.Descreption" class="form-control" id="descreption" />
        <span asp-validation-for="Movie.Descreption" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label for="categoryName" class="control-label">Kategori Seçiniz</label>
        <select name="categoryName" id="categoryName" class="form-control">
            @foreach (var item in Model.Categories)
            {
                <option>@item.Name</option>
            }
        </select>
    </div>
    <h6 class="bg-info p-1 text-white col-md-4">Add to @Model.Movie.Name</h6>
    <div class="form-group col-md-4">
        @if (Model.Movie.NonMember.Count() == 0)
        {
            <span class="text-danger"> All User Are Member</span>
        }
        else
        {
            <label for="IdToAdd" class="control-label">Kullanıcı Seçiniz</label>
            <select name="IdToAdd" id="IdToAdd" class="form-control" multiple>
                @foreach (var item in Model.Movie.NonMember)
                {
                    <option value="@item.Id">@item.UserName</option>
                }
            </select>
        }
    </div>
    <div class="form-group">
        <input class="col-md-8" type="file" id="files" name="files" multiple formenctype="multipart/form-data" /><hr />
        <input type="button" class="btn btn-primary" id="gonder" value="Kaydet" multiple />
    </div>
</form>
<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts{
    <script>
        $("#files").fileinput({
        language: 'tr',
        uploadAsync: true,
        dropZoneTitle: "Please drop here pictures",
        browseLabel: "Please choose picture",
        uploadLabel: "Upload",
        uploadUrl: '@Url.Action("AddMovieImage","Movie")',
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 4,
        resizeImage: true,
        maxImageWidth: 800,
        maxImageHeight: 600,
        resizePreference: 'width',
         resizeImageQuality: 0.75,
         uploadExtraData: {Id: $("#movieId").val() }
        });
        $("#files").on('filebatchuploadcomplete', function () {
            $("#alert").css({ "visibility": "visible" });
        });
         document.getElementById("IdToAdd").multiple = true;
        document.querySelector("#gonder").addEventListener('click', gonder);
        function gonder() {
            var name = $("#name").val();
            var categoryName = $("#categoryName").val();
            var descreption = $("#descreption").val();
            var IdToAdd = $("#IdToAdd").val();
            var Id = $("#movieId").val();
            $.ajax({
                dataType: 'JSON',
                data: { "name": name, "categoryName": categoryName, "descreption": descreption, "IdToAdd": IdToAdd, "Id": Id },
                type: 'POST',
                url: "/Admin/Movie/Edit",
                 success: function () {
                    $("#alert2").css({ "visibility": "visible" });
                }
            });
        };

    </script>
}
